//variables

// used colors:
@import "./scss/globals";
@import "./scss/mixin";

// Start Utility classes

.modal--button {
  @include center-content-x;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  &:first-letter {
    text-transform: capitalize;
  }
}

.notify--button {
  @include center-content-x;
  background-color: #10c96c;
  color: $white;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  border: none;
  min-height: 50px;
}

.modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 21px;
  // padding: 2rem;
  width: 450px;
  min-height: 50vh;
  &.sm {
    width: 450px;
    .modal--header {
      padding: 1rem;
    }
  }
  &.md {
    width: 70%;
  }
  &.lg {
    width: 90%;
  }
  background: $white;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  &--header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 32px;
    border-bottom: 1px solid #ddd;
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #2a2a2a;
      flex: 1;
    }
    &__close__button {
      @include center-content-x;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-left: auto;
      border: none;
      background: #ebebeb;
      order: 2;
      cursor: pointer;
      img {
        width: 12px;
        height: 12px;
        object-fit: contain;
      }
    }
  }
  &--body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }
  &--footer {
    border-top: 1px solid #ddd;
    padding: 2rem;
    &__button__groups {
      display: flex;
      gap: 0.6rem;
      justify-content: space-between;
    }
  }
  &--tabs {
    display: flex;
    &__button {
      flex: 1;
      min-height: 40px;
      @include center-content-x;
      padding: 0.65rem 1rem;
      color: $primary-color;
      font-size: 1rem;
      font-weight: 400;
      background: $light-grey;
      border: none;
      outline: none;
      cursor: pointer;
      &.active {
        color: $white;
        background: $primary-color;
      }
    }
  }
  &--tab {
    &__input {
      display: inline-block;
      border: 2px solid #c4c4c4;
      border-radius: 8px;
      padding: 1rem;
      font-size: 1.125rem;
      font-weight: 500;
      color: $primary-color;
      &::placeholder {
        font-size: 1.125rem;
        font-weight: 300;
        color: #d5d5d5;
      }
    }
  }
}
